<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Resume</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<div class="container">
    <h2 th:text="${resume.name}"></h2>
    <strong>E-mail:</strong>
    <p th:text="${resume.email}"></p>
    <strong>Phone:</strong>
    <p th:text="${resume.phone}"></p>
<h3>Educational Achievements</h3>
<table class="table">
    <tr>
        <th>School</th>
        <th>Year</th>
        <th>Degree</th>
        <th>Major</th>
    </tr>
    <tr th:each="achieve : ${edus}">
        <td th:text="${achieve.school}"></td>
        <td th:text="${achieve.year}"></td>
        <td th:text="${achieve.degree}"></td>
        <td th:text="${achieve.major}"></td>
    </tr>
</table>
<br />
<h3>Professional Experience</h3>
<table class="table">
    <tr>
        <th>Company</th>
        <th>Tile</th>
        <th>Date Started</th>
        <th>Description</th>
    </tr>
    <tr th:each="achieve : ${exps}">
        <td th:text="${achieve.company}"></td>
        <td th:text="${achieve.title}"></td>
        <td th:text="${achieve.date}"></td>
        <td th:text="${achieve.description}"></td>
    </tr>
</table>
<br />
<h3>Skills</h3>
<table class="table">
    <tr>
        <th>Skill</th>
        <th>Proficiency</th>
    </tr>
    <tr th:each="achieve : ${skills}">
        <td th:text="${achieve.description}"></td>
        <td th:text="${achieve.proficiency}"></td>
    </tr>
</table>
<br />
    <a href="/" class="btn btn-primary">Go Back</a>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>